.container{
    margin: 0px auto;
    width: 1296px;
    box-sizing: border-box;
    padding-top : 30px;
}
main{
    box-sizing: border-box;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main ul{
    display: flex;
    margin: 0px;
    padding: 0px;
    list-style: none;
}
main li{
    border: 1px solid rgb(211, 211, 211);
}
.notice_insert_main{
    width: 800px;
}

.ni_title_ul li input{
    box-sizing: border-box;
    border: none;
    outline: none;
    width: 598px;
    height: 100%;
    padding:0px 10px ;
}
.ni_title_ul  .ni_title_li{   
    width: 200px;
}
.ni_info_ul li{
    width: 100%;
}
.ni_file_ul li input{
    box-sizing: border-box;
    border: none;
    outline: none;
    width: 598px;
    height: 100%;
    padding:0px 10px ;
}
.ni_file_ul  .ni_file_li{   
    width: 200px;
}
.ni_content_ul textarea{
    width: 798px;
    border: none;
    outline: none;
    box-sizing: border-box;
    padding: 20px ;
    height: 600px;
    resize: none;
}

